{
  "comments": false,
  "plugins": [
    "lodash",
    "transform-es2015-modules-commonjs",
    ["import", { "libraryName": "antd", "style": "css" }],
    ["transform-runtime", { "polyfill": false, "regenerator": true }],
    ["module-resolver", { "alias": { "~": "./src" } }]
  ],
  "presets": ["react", "env", "stage-1"],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
